.rides-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jungle-title {
  color: #ffffff;
  font-size: 30px;
  font-family: Open Sans, sans-serif;
}

.rides-grid {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  grid-gap: 20px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 20px;
}



.rides-container {
  margin-top: 50px;
}




.square {
  width: 20vw; /* set the width of each square */
  height: 20vw; /* set the height to be equal to the width */
  background-color: #373737;
  display: inline-block;
}

.ride {
  background-color: #373737;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 170px;
  height: 170px;
  position: relative;
}


.zone-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-family: Open Sans, sans-serif;
}



.zone-name {
  position: absolute;
  font-size: 1rem;
  top: 5px;
  right: 5px;
  color: #656565;
  font-family: Open Sans, sans-serif;
  font-size: 15px;
}


.name-when-selected {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1rem;
}

.remaining-tickets {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  color: #656565;
  display: flex;
  justify-content: flex-end;
  font-family: Open Sans, sans-serif;
}

.return-time {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 14px;
  color: #656565;
  display: flex;
  justify-content: flex-start;
  font-family: Open Sans, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;

  
  font-size: 2rem;
}

.submit {
    width: 25%;
    height: 100% ;
    background-color: #373737;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 20px;
}

.info {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.info-text{
  color: #656565;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
}

